#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://download.eng.rdu.redhat.com/released/F-24/GOLD/Workstation/x86_64/os/"
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s25 --ipv6=auto --activate
network  --hostname=unused
# Root password
rootpw --iscrypted $6$fc/5k34fKIbb2R8y$dJLufqVwpGjtqz6rm1sSAuFQboHj1p5/NBmvdx0fTxnPQaVyOcy.TopVxq1D.HZFsttlIR8JLjYHZL98ohO/h0
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc --ntpservers=clock02.util.phx2.redhat.com,clock01.util.phx2.redhat.com,clock1.rdu2.redhat.com,clock.bos.redhat.com
# X Window System configuration information
xconfig  --startxonboot
# System bootloader configuration
bootloader --location=mbr --boot-drive=sda
autopart --encrypted --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^workstation-product-environment
chrony

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy user --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=0 --minquality=1 --notstrict --nochanges --emptyok
%end
